---

---

<section class="service-header <%= page_classes %>">
  <div class="container">
    <div class="row">
      <h1><%= service['name'] %></h1>
    </div>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", "/index.html"%></li>
    <li><%= link_to "Services", "/departments-services.html" %></li>
    <li class="active"><%= service['name'] %></li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="service-main">
        <div class="well branded-well">
          <p class="lead"><%= service['one-liner'] %></p>
          <p><%= service['description'] %></p>
          <%= service['selling-points'] %>
        </div>
      
      
       <section class="well">
        <h4>Our team</h4>
         The service is led by <%= service['service-team'] %>.
         <a href="/teams/<%= service['slug'] %>" class="btn btn-primary" alt="link to <%= service['name'] %>'s team profile page">Meet the team</a>

      </section>
        
      </article>
    </div>
    
    <div class="col-md-4">
      <section class="well">
        <h4>Contact us</h4>
        
        <address><%= service['address'] %></address>
            <% service['contact-details'].each do |x| %>
            <a href="mailto:<%= x['email']%>" class="btn btn-warning" alt="<%= service['name'] %>'s email address">Email us</a>
            <a href="tel:<%= x['phone-number']%>" class="btn btn-link" alt="<%= service['name'] %>'s telephone number">Call us</a>
            <% end %>
      </section>
      
       <section class="well">
        <h4>Treatments &amp; conditions</h4>
         
         <ul class="list-unstyled">
           <!-- this needs to be updated -->
           <% service['treatments'].each do |x| %>
           <li><a href="/conditions-treatments/<%= x['treatment-url'] %>" class="btn btn-link btn-sm" alt="Link to individual treatment page for <%= x['treatment-name'] %>"><%= x['treatment-name'] %></a>
           </li>
           <% end %>
         </ul>
           
          <ul class="list-unstyled"> 
          <% service['conditions'].each do |x| %>
           <li><a href="/conditions-treatments/<%= x['conditions-url'] %>" class="btn btn-link btn-sm" alt="Link to individual treatment page for <%= x['conditions-name'] %>"><%= x['conditions-name'] %></a></li>
           <% end %>
         </ul>
         
      </section>
      
       <section class="well">
        <h4>Services Provided</h4>

         <ul class="list-unstyled list-service">
           <% service['services-provided'].each do |x| %>
           <li><%= x['service-name'] %></li>
           <% end %>
         </ul>
         
      </section>
      
      
    </div>
  </div>
</div>
