---
title: Training
---


<section class="service-header <%= page_classes %>">
  <div class="container">
    <div class="row">
      <h1><%= current_page.data.title %></h1>
    </div>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", "/index.html"%></li>
    <li><%= link_to "Services", "/departments-services.html" %></li>
    <li class="active"><%= current_page.data.title %></li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="service-main">
        <div class="well branded-well">
          <p class="lead">Within the Medical Imaging and Medical Physics Directorate at Sheffield Teaching Hospitals we employ skilled staff who contribute to the diagnosis and treatment of patients in many different ways, across a wide range of healthcare settings.</p>
          <p>As technology and treatments evolve, so do our staff and their skills. Training and development are of vital importance to our directorate and the organisation as a whole. Both Medical Imaging and Medical Physics have teams dedicated to training and developing current and future staff.</p>
          <a href="#mp-ce" class="btn btn-sm btn-link">Medical Physics and Clinical Engineering training</a> <a href="#mi" class="btn btn-sm btn-link">Medical Imaging training</a>
          
        </div>
        
        <div class="well">
          <h4 id="mp-ce">Medical Physics and Clinical Engineering</h4>
          <p>Within the Medical Physics and Clinical Engineering department we have many varied roles and skilled professionals offering cutting-edge treatments and services.</p> 
          <p>Our services are staffed with Medical Physicists, Clinical Engineers, Clinical Scientists, Clinical Technologists, Electronic Engineers, Mechanical Engineers, Healthcare Scientists, Healthcare Science Practitioners, Healthcare Science Associates/Assistants and support staff.</p>
          <p>Each individual member of staff within Medical Physics and Clinical Engineering has specialist training which provides them with the appropriate skills and expertise to perform tasks such as:</p>
          <ul>
            <li>maintain medical equipment</li>
            <li>use radiation for diagnosis and treatment</li>
            <li>manufacture bespoke surgical tools</li>
            <li>advise on radiation protection</li>
            <li>optimize magnetic resonance imaging sequences</li>
            <li>perform nuclear medicine imaging</li>
            <li>analyze a persons gait</li>
            <li>build bespoke electrical equipment for clinical measurement</li>
          </ul>
          <p>Our staff also conduct research and specialist training which lead to new techniques for the diagnosis and treatment of disease</p>
          
          <h5>Training Courses</h5>
          <p>Beyond our own staff, we also offer training for future Medical Physicists and Clinical Engineers. Currently we offer:</p>
          <a href="#stp" class="btn btn-primary">Scientist Training Programme (STP)</a> <a href="#ptp" class="btn btn-primary">Practitioner Training Programme (PTP)</a>
        </div>
        
        <div class="well">
          <h4 id="mi">Medical Imaging</h4>
          <p class="lead">Within the Medical Imaging department...</p>
          <p></p>
          <p>To find out more about careers in the Radiology department, or information on courses we run aimed at existing imaging professionals please e-mail the Training &amp; Development Manager, Brigitte Kaviani.</p>
          <a href="mailto:Brigitte.Kaviani@sth.nhs.uk" class="btn btn-primary">Email our training team</a>
        </div>

        
      </article>
    </div>
    
    <div class="col-md-4">
      <section class="well">
        <h4>Contact us</h4>

            <a href="mailto:" class="btn btn-warning" alt="Training contact email address">Email us</a>
            <a href="tel:" class="btn btn-link" alt="Training telephone number">Call us</a>
      </section>
      
       <section class="well">

      </section>
      
       <section class="well">

      </section>
      
      
    </div>
  </div>
</div>