---

---

<section class="service-header <%= page_classes %>">
  <div class="container">
    <div class="row">
      <h1><%= department['name'] %></h1>
    </div>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", "/index.html"%></li>
    <li><%= link_to "Departments", "/departments-services.html" %></li>
    <li class="active"><%= department['name'] %></li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="service-main">
        <section class="well branded-well">
          <p class="lead"><%= department['one-liner'] %></p>
          <p><%= department['summary'] %></p>
          <p><%= department['description'] %></p>
        </section>
      
      <section class="well" id="case-studies">
        <h4>Case studies</h4>
        <div class="case-study-unit">
          
        <% department['case-studies'].each do |x| %>
        <header>
          <img src="<%= x['cs-img'] %>" alt="" class="pull-right">
          <h5><%= x['cs-title'] %></h5>
        </header>
          <p><%= x['cs-desc'] %></p>
        <% end %>
          
        </div>
      </section>
      
       <section class="well">
        <h4>Our team</h4>
         <p>The <%= department['name'] %> department is based at Sheffield Teaching Hospitals, led by
           <% department['staff'].each do |x| %>
              <%= x['department-head'] %>, <%= x['department-head-role']%>
           <% end %></p>
         <a href="/teams/<%= department['slug'] %>" class="btn btn-primary" alt="link to <%= department['name'] %>'s team profile page">Meet the team</a>
      </section>
        

        
        
     </article>
    </div>
    
    <div class="col-md-4">
      <section class="well">
        <h4>Contact us</h4>
        
        
            <% department['contact'].each do |x| %>
            <address><%= x['address'] %></address>
            <a href="mailto:<%= x['email']%>" class="btn btn-warning" alt="<%= department['name'] %>'s email address">Email us</a>
            <a href="tel:<%= x['phone']%>" class="btn btn-link" alt="<%= department['name'] %>'s telephone number">Call us</a>
            <% end %>
      </section>
            
       <section class="well">
        <h4><%= department['name'] %> Services</h4>

         <ul class="list-unstyled list-service">
           <% department['services'].each do |x| %>
           <li><a href="/services/<%= x['service-url'] %>" alt="Link to the <%= x['service-name'] %> page" class=""><%= x['service-name'] %></a></li>
           <% end %>
         </ul>
         
      </section>
      
       <section class="well">
        <h4>Useful information</h4>
      </section>
      
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h5>Related departments &amp; Services</h5>
      <section class="">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="well">
              <a href="#">
              <img>
              <h4>Title of service</h4>
            </a>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-3">
            <div class="well">
            <a href="#">
              <img>
              <h4>Title of service</h4>
            </a>
          </div>
          </div>
          
          <div class="col-md-3 col-sm-3">
            <div class="well">
            <a href="#">
              <img>
              <h4>Title of service</h4>
            </a>
          </div>
            </div>
          
          <div class="col-md-3 col-sm-3">
            <div class="well">
            <a href="#">
              <img>
              <h4>Title of service</h4>
            </a>
          </div>
            </div>
        </div>      
      </section>
    </div>
  </div>
</div>
