---
title: Contact us - Medical Imaging &amp; Medical Physics
---

<section class="<%= page_classes %>">
  <div class="container">
    <div class="row">
        <h1 class="brand-h1">Contact</h1>
      </div>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
     <li><%= link_to "Home", "index.html" %></li>
    <li class="active">Contact</li>
  </ol>
</div>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <section class="well branded-well">
          <!-- Needs to be within a container or row div -->
            
          
          <div class="row">
            <%= partial 'partials/components/contact_form' %>
          </div>
        
        </section>
      </div>
      
      <div class="col-md-4">
        <section class="well">
          
         <h4>Contact Information</h4>
          
          <%= partial 'partials/components/contact_info' %>
          
                    
          <div class="btn-group">
              <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Services &amp; Departments <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
              </ul>
            </div>
        </section>
        
        
        <section class="well">
          <h4>Address</h4>
          <address>
            <header>Royal Hallamshire Hospital</header>
            <p>The rest of the address</p>
          </address>
        </section>
      </div>
      
    </div>
  </div>

  <%= partial 'partials/components/map' %>

  <%= partial 'partials/components/hospitals' %>




</section>