---
title: Departments and Services - Medical Imaging and Medical Physics Sheffield Hospitals
---
<%= javascript_include_tag "sieve" %>

<section class="<%= page_classes %>">
  <div class="container">
    <div class="row">
        <h1 class="brand-h1" id="top">Departments &amp; Services</h1>
      </div>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to "Home", "index.html" %></li>
    <li class="active">Departments &amp; Services</li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="filter-main">
        <section class="well branded-well">
          <p class="lead">Duis autem vel eum iriure dolor in hendrerit in vulputate veli in hendrerit in vulputate veli. in hendrerit in vulputate veli in hendrerit in vulputate veli in hendrerit in vulputate veli</p>
          <p>To use the search functionality on this page, start typing into the white box below.</p>
          <script>
          jQuery(document).ready(function() {
            jQuery("article.filter").sieve({ itemSelector: "section" });
            }); 
        </script>
          
        </section>
      </article>  
      
       <article class="filter">
         
        <% data.departments.department.each do |x| %>
          <section class="well treatment-well" id="<%= x['slug'] %>">
            <h4><%= x['name'] %></h4>
            <p class="lead"><%= x['one-liner'] %></p>
            <%= link_to "Department Page", "/departments-services/#{x['slug']}.html", class: "btn btn-sm btn-primary" %>
            <a href="#top" alt="link to top of the page" class="btn btn-sm btn-link">Back to top</a>
          </section>
        <% end %>
         
         <% data.services.service.each do |x| %>
          <section class="well treatment-well" id="<%= x['slug'] %>">
            <h4><%= x['name'] %></h4>
            <p class="lead"><%= x['one-liner'] %></p>
            <%= link_to "Service Page", "/departments-services/#{x['slug']}.html", class: "btn btn-sm btn-primary" %>
            <a href="#top" alt="link to top of the page" class="btn btn-sm btn-link">Back to top</a>
          </section>
        <% end %>
         

         
      </article>
      
      
    </div>
          
          
    <div class="col-md-4">
            <section class="well">
        <h4>Contact Details</h4>
        <%= partial 'partials/components/contact_info' %>
      </section>
      
      <section class="well">
        <h4>Conditions &amp; Treatments</h4>
        <p>Locate the dedicated department and service pages through our <a href="../conditions-treatments/" alt="link to the conditions and treatments A-Z" class="">A-Z page</a> or the directory below:</p>
        <%= partial 'partials/components/btn_conditions' %>
        <%= partial 'partials/components/btn_treatments' %>
      </section>
      
      <section class="well">
        <h4>Our Patient Services Team</h4>
        <p>Our Patient Service Team provides a point of contact for any concerns or questions. If you are unsure who to talk to, our Paitent Service Team will always be willing to help!</p>
        <p>The Patient Services Team can be contacted Monday to Friday from 8.30am until 5.00pm. The team can be contacted in the following ways:</p>
        <ul>
          <li>Telephone on 0114 271 2400</li>
          <li>Via email on <a href="mailto:PST@sth.nhs.uk">PST@sth.nhs.uk</a></li>
          <li>In person in the Patient Partnership Department on B Floor, Royal Hallamshire Hospital and the Huntsman main entrance on C Floor at the Northern General Hospital</li>
        </ul>
      </section>
      
      <section class="well">
        <h4>Resources</h4>
      </section>
    </div>
          
          
          
          
  </div>
</div>