---
title: Medical Imaging &amp; Medical Physics
intro: A multi-disciplinary department in the heart of South Yorkshire
---

<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="brand-header">
          <h1 class="brand-h1"><%= current_page.data.title %></h1>
          <p class="lead"><%= current_page.data.intro %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mimp-blocks">
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
           <%  link_to "/patient-information.html" do %>
             <%= image_tag "radiology-reception.jpg", class: "hidden-xs", width: "100%" %>
            <div class="well" id="">
              <h4>Patient Information</h4>
              <footer><em>Learn more about your patient journey and our services</em>
              </footer>
            </div>
           <% end %>
        </div>
      
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%  link_to "/services.html" do %>
            <%= image_tag "services-stock.jpg", class: "hidden-xs", width: "100%" %>
            <div class="well" id="">
              <h4>A-Z of Services</h4>
              <footer><em>Explore our commercial and patient services</em>
              </footer>
            </div>
          <% end %>
        </div>
      
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%  link_to "/departments-services/commercial-services.html" do %>
            <%= image_tag "commercial.jpg", class: "hidden-xs", width: "100%" %>
            <div class="well" id="">
              <h4>Commercial Services</h4>
              <footer><em>Find out more about our world-class commerical services</em>
              </footer>
            </div>
          <% end %>
        </div>
      
        <div class="col-md-3 col-sm-6 col-xs-12">
          <%  link_to "/referral-information.html" do %>
            <%= image_tag "doctor.jpg", class: "hidden-xs", width: "100%" %>
            <div class="well" id="find-us">
              <h4>Referral Information</h4>
              <footer><em>Find out how to make a referral to our service</em>
              </footer>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</section>

