---
title: Referral Information
---

<section class="patient-header <%= page_classes %>">
  <div class="container">
    <div class="row">
      <h1 id="top"><%= current_page.data.title %></h1>
    </div>
  </div>
</section>

<div class="container">
  <ol class="breadcrumb">
     <li><%= link_to "Home", "index.html" %></li>
    <li class="active"><%= current_page.data.title %></li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="referral-main">
        <article class="well branded-well">
        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        </article>
        
       <% data.referrals.pathway.each do |x| %>
        <article class="well referral">
          <header>
           <h3 id="referral-<%= x.id %>"><%= x.title %></h3>
          </header>
          <section>
             <p><%= x.body %></p>
            <p><%= x.link %></p>
             <a href="#top">Back to the top</a>
          </section>
        </article>
        <% end %>      
      </div>
    </div>
    
    
    <div class="col-md-4">
      <section class="well">
        <h4>Referral Pathways</h4>
        <ul class="list-unstyled">
          <% data.referrals.pathway.each do |x| %>
          <li><a href="#referral-<%= x.id %>" alt="link to <%= x.id %> referral pathway answer"><%= x.title %></a></li>
          <% end %>
        </ul>
      </section>
      
      
      <section class="well">
        <h4>Our Departments &amp; Services</h4>
        <p>Locate the dedicated department and service pages through our <a href="departments-services.html" alt="link to the department and service A-Z" class="">A-Z page</a> or the directory below:</p>
        <%= partial 'partials/components/btn_departments' %>
        <%= partial 'partials/components/btn_services' %>
        
      </section>
      
      <section class="well">
        <h4>Treatment &amp; Conditions</h4>
        <p>Search our <a>dedicated treatment and conditions A-Z page</a> or find a specific page through our directory below:</p>
        <%= partial 'partials/components/btn_treatments' %>
        <%= partial 'partials/components/btn_conditions' %>
      </section>
      
      <section class="well">
        <h4>Contact Details</h4>
        <%= partial 'partials/components/contact_info' %>
      </section>
      
      <section class="well">
        <h4>Useful Links &amp; Services</h4>
        <ul class="list-unstyled">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
      </section>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <h5>Related pages</h5>
      <section class="">
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="well">
              <a href="#">
              <img>
              <h4>Professional Training</h4>
            </a>
            </div>
          </div>
          
          <div class="col-md-3 col-sm-3">
            <div class="well">
            <a href="#">
              <img>
              <h4>Careers Information</h4>
            </a>
          </div>
          </div>
          
          <div class="col-md-3 col-sm-3">
            <div class="well">
            <a href="#">
              <img>
              <h4>Consultancy Services</h4>
            </a>
          </div>
            </div>
          
          <div class="col-md-3 col-sm-3">
            <div class="well">
            <a href="#">
              <img>
              <h4>A-Z of Treatments &amp; Conditions</h4>
            </a>
          </div>
            </div>
        </div>      
      </section>
    </div>
  </div>
  
  
</div>