<footer>
  <section class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>About the Trust</h3>
          <p>
          <a href="http://www.sth.nhs.uk/about-us">Sheffield Teaching Hospitals NHS Foundation Trust</a> is
          one of the UK’s busiest and most successful NHS foundation trusts. We provide
          a <a href="http://www.sth.nhs.uk/services">full range of local hospital and community services</a> for
          people in Sheffield, as well as specialist care for patients from further afield.
        </p>
        </div>
        
        <div class="col-md-3">
          <h3>Patient Information</h3>
          <p>If you have an appointment with us, or are looking for information about what to expect, please see our dedicated pages:</p>
          <ul class="list-unstyled">
            <li><%= link_to "Patient Information", "/patient-information.html" %></li>
            <li><%= link_to "How do I get an appointment", "/patient-information.html" %></li>
            <li><%= link_to "How do I get here?", "/patient-information.html" %></li>
            <li><%= link_to "What happens at an appointment?", "/patient-information.html" %></li>
            <li><%= link_to "What happens after an appointment?", "/patient-information.html" %></li>
            <li><%= link_to "Conditions & Treatments", "/conditions-treatments.html" %></li>
          </ul>
        </div>
        
        <div class="col-md-3">
          <h3>Contact us</h3>
          <p>As well as world-class patient care, we provide professional and commercial services. To get in touch with our team contact us through the number below or <%= link_to "via the form found here", "/contact.html", alt: "link to Medical Imaging and Medical Physics online contact form" %></p>
          <address>
                  <a href="http://www.sth.nhs.uk/our-hospitals/royal-hallamshire-hospital/contact-us">Royal Hallamshire Hospital</a> - <a href="tel:0114">0114 0000 000</a>
         </address>
        </div>
        
        <div class="col-md-3">
          <h3>Departments &amp; Services</h3>
          <p>Use the buttons below to locate the department or service you require:</p>
          <!-- Services button -->
          <%= partial 'partials/components/btn_services' %>
          <!-- Departments button -->
          <%= partial 'partials/components/btn_departments' %>
        </div>
      
      </div>
    </div>
  </section>
  
  <section class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>All content is the copyright 2015 of <a href="http://www.sth.nhs.uk/" alt="Homepage for Sheffield Teaching Hospitals">Sheffield Teaching Hospitals NHS Foundation Trust</a> unless specifed elsewhere.</p>        
        </div>
      </div>
    </div>
  </section>
  
</footer>